/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-mrt-2021, 9:41:03
    Author     : B
*/

#maPhoto {
    margin-right: 10px;
}
.jumbotron {    
    padding-bottom: 32px;

}


